
/************baseForm*************/
.baseForm{
    background: #fff;

}
.baseForm .baseLine{
    height: 1rem;
    padding-right:.2rem;
    margin-left: .2rem;
    border-bottom: .02rem solid #efefef
}
.baseForm .baseLine label{
    height:.8rem;
    line-height: .8rem;
    font-size: .28rem;
}
.baseForm .inputArea{
    position: relative;
    flex:1;
    width: 100%;
}
.baseForm .inputArea span.onError{
    position: absolute;
    left: 0;
    bottom: .1rem;
    height: .5rem;
    line-height: .5rem;
    color:red;
    font-size: .24rem;
    padding-left: .2rem;
}
.baseForm .inputArea input[type="text"],
.baseForm .inputArea input[type="password"],
.baseForm .inputArea input[type="number"],
.baseForm .inputArea input[type="date"],
.baseForm .inputArea select{
    flex:1;
    padding-left: .2rem;
    width: 100%;
    height: .8rem;
    line-height: .6rem;
    text-align: right;
    font-size: .28rem;

}

.baseForm .inputArea select{
    padding-right: .8rem;
}
.baseForm .selectArea{
    position: relative;    
}
.baseForm .selectArea::after{
  content:"\e612" ;
  font-family:"iconfont" !important;
  position: absolute;
  top: .1rem;
  right: 0;
  height: .5rem;
  line-height: .5rem;
  width: .5rem;
  text-align: center;
  color: #bdbdbd;
  pointer-events: none;
}
.baseForm .imgUplad1 .inputArea{
    position: relative;
    margin-left: 17%;
    margin-top: .2rem;
    margin-bottom: .2rem;
    width: 66%;
}
.baseForm .imgUplad2 .inputArea{
    position: relative;
    margin-left: 5%;
    margin-top: .2rem;
    margin-bottom: .2rem;
    width: 90%;
}
.baseForm .imgUplad1 .inputArea img,.baseForm .imgUplad2 .inputArea img{
    width: 100%;
}
.baseForm .imgUplad1 .inputArea input[type="file"],.baseForm .imgUplad2 .inputArea input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.baseForm .btnGetCode{
  display: inline-block;
  font-size: .24rem;
  width: 1.4rem;
  height: .6rem;
  color: #fabe00;
  background: #fff;
  border-left: .02rem solid #fabe00
}

.baseForm input[type="radio"]{
    margin-right: .1rem;
    width: .28rem;
    height: .28rem;
}
.submitBtn{
	display: block;
	margin:.3rem .2rem;
	height: .8rem;
	line-height: .8rem;
	border-radius: 0.1rem;
	background: #fabe00;
	color: #fff;
	font-size: .28rem;
	text-align: center;
}
.submitBtn2{
	display: block;
	margin:.3rem .2rem;
	height: .8rem;
	line-height: .8rem;
	border-radius: 0.1rem;
	background: none;
	border:.02rem solid #fabe00;
	color: #fabe00;
	font-size: .28rem;
	text-align: center;
}
/*****************单选开关***************/
.switchBtn{
	width: 2.4rem;
	height: .5rem;
	border-radius: .5rem;
	background:#fff;
	border:.02rem solid #fabe00;
}
.switchBtn .radioBtn{
	position: relative;
	flex:1;
	height: .5rem!important;
	background:#fff;
	color: #999;
	line-height:.5rem!important;
	text-align: center;
	font-size: .24rem!important;
}
.switchBtn .radioBtn.on{
	background:#fabe00;
	color: #fff;
} 
.switchBtn .radioBtn input[type="radio"]{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	margin:0;
}
